@use "/src/styles/colors";
@use "/src/styles/mixins" as fn;
@use "/src/styles/fonts";

.activity {
  width: 100%;
  max-width: 1290px;
  padding: 6rem 2rem;
  position: relative;
  .activity-header {
    display: grid;
    grid-template-columns: 32% 68%;
    .filter-icon {
      @include fn.flex(center, flex-start);
      font-weight: 500;
      gap: 10px;
      font-size: fonts.$font-size-3xl;
      img {
        display: block;
      }
    }
    .active-filters {
      @include fn.flex(center, flex-start);
      min-height: 55.2px;
      gap: 2rem;
      font-weight: 300 !important;
      .active-filter {
        @include fn.flex(center, space-between);
        gap: 0.4rem;
        font-size: fonts.$font-size-xl;
        padding: 14px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.3);

        img {
          display: block;
        }
      }
      .clear-all-button {
        font-size: fonts.$font-size-xl;
        background: colors.$gradient-blue;
        background-clip: text;
        color: transparent;
      }
    }
  }
  .activity-body {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2.3rem;
    grid-column-gap: 22px;

    .event-types {
      @include fn.flex-col(center, center);
      align-self: flex-start;
      position: relative;
      gap: 25px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
      padding: 3rem 0;
      padding-bottom: 2rem;
      max-width: 356px;

      .event-types-heading {
        @include fn.flex(center, space-between);
        width: 80%;
        margin: 0;
        text-align: left;
        font-size: fonts.$font-size-3xl;
        font-weight: 300;
        padding-bottom: 20px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.12);

        img {
          display: block;
          margin-left: auto;
          height: 2rem;
          width: auto;
        }
      }

      .event-types-holder {
        height: 143px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        grid-row-gap: 32px;
        grid-column-gap: 40px;
        max-width: 356px;
        min-height: 0;

        transition: height 0.3s ease-in-out;

        .event-type {
          font-size: fonts.$font-size-xl;
          font-weight: 300;
          padding: 15px;

          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 10px;
        }
        .event-type.active {
          background: colors.$gradient-blue;
        }
      }
    }

    .activity-table {
      width: 100%;
      width: 100%;
      table {
        table-layout: fixed;
        border: none;
        width: 100%;
        border-collapse: collapse;
        tbody::before {
          content: "-";
          height: 42px;
          display: block;
          color: transparent;
        }
        tr {
          display: grid;
          grid-template-columns: 3fr 1fr 1fr 2fr 1fr 1fr;
          th:nth-child(1) {
            text-align: center;
          }
          th {
            font-weight: 600;
            font-size: fonts.$font-size-lg;
            padding: 13px 0;
          }
        }
        tr:nth-child(1) {
          border: 1px dashed rgba(255, 255, 255, 0.2);
          border-left: none;
          border-right: none;
        }
        .activity-table-data {
          margin-bottom: 62px;
          border: none !important;
          grid-template-columns: 1.5fr 1.5fr 1fr 1fr 2fr 1fr 1fr;
          align-items: flex-start;
          td {
            text-align: center;
            font-size: fonts.$font-size-base;
          }
          .activity-table-data-icon {
            @include fn.flex(center, flex-start);
            gap: 10px;
            font-weight: 600;
            img {
              display: block;
            }
          }
          .activity-table-data-item-name {
            @include fn.flex(center, space-between);
            text-align: left;
            gap: 6px;
            img {
              display: block;
            }
          }
          .activity-table-data-price {
            text-align: right;
            .eth-price {
              display: block;
              font-weight: 600;
              img {
                vertical-align: middle;
              }
            }
          }
          .activity-table-data-to,
          .activity-table-data-from,
          .activity-table-data-time {
            font-weight: 600;
            background: colors.$gradient-blue;
            background-clip: text;
            color: transparent;
          }
        }
      }
    }
  }
}
