@use "/src/styles/colors";
@use "/src/styles/fonts";
@use "/src/styles/mixins";

.container {
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}
.category-paper {
    background-color: rgba(255, 255, 255, 0.05) !important;
}
.chain-name-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
}

.walletLogo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    color:white;
}

.dialog-title {
    padding: 1.5rem;
    @include mixins.flex-center;
    padding-bottom: 1rem;
    color: white;
    border-bottom: 1px solid rgba($color: #666, $alpha: 0.4);
    text-align: center;
    position: relative;
    button {
        position: absolute;
        right: 1.5rem;
        top: 1rem;
    }
}

.boxShadow {
   box-shadow: rgba(255, 255, 255, 0.25) 2.4px 2.4px 3.2px;
}