.paraTitle{
  font-family: 'Urbanist',
  sans-serif;
  text-align: left;
  font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(#a7a9fa, #7460ed) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}
.paracontent{
  font-family: 'Urbanist',
  sans-serif;
  p{
      font-size: 16px;
  }
}